
/*homepage///////////////////////////////////////////////////////////////*/

.content_text,
.points {
	background-color: $yellow;
	position: relative;
}
.main-menu__sub-trigger {
	display: none;
}
.points {
	position: static;
	margin-top: 160px;
	@media screen and (min-width: 601px) and (max-width: 1500px) {
		position: relative;
		top: -130px;
	}
}
.content_points {
	display: inline-block;
	color: white;
	text-align: center;
	font-weight: 250;
	font-size: 1.2em;
	margin-left: 30px;
	margin-right: 30px;
	margin: 0 auto;
}

#welcome /*Welcome block */ {
	text-align: center;
	margin: auto;
	font-size: 1.1em;
	line-height: 1.7em;
	margin-top: 12em;
	.welcometext {
		font-size: 40px;
		line-height: 2.5em;
	}
}

.welcome {
	min-height: 40em;
}

/*contentpages///////////////////////////////////////////////////////////////*/

.content-header {
	color: $green;
	font-size: 2.5em;
	font-weight: bold;
}
.row {
	max-height: 100%;
}
.content_text_section {
	min-height: 52em;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	width: 100%;
	margin-top: 10em;
	position: relative;
	.content-text-container {
		display: inline-block;
		text-align: left;
		vertical-align: center;
		margin-top: 5em;
		margin-left: 0;
		margin-right: auto;
		justify-content: center;
		padding: 20px;
		position: relative;
		max-height: 100%;
			a {
				color: $green;
				transition-property: color;
				transition-duration: 400ms;
			}
			a:hover {
				color: black;
			}
		.page-content-links {
			color: #c8d2c4;
			font-size: 0.95em;
			margin-right: 4em;
			max-width: 100%;
			a {
				color: #c8d2c4;
				line-height: 2.5em;
			}
			li {
				list-style-image: url(./assets/images/linkarrow.png);
			}
		}
		.page-content-text {
			font-size: 1.05em;
			font-weight: 450;
			h2, h3 {
				color: $green;
			}
			tbody,
			table,
			td {
				outline: none;
				border: 0px;
				max-width: 100%;
				img {
					max-width: 100px;
					margin-right: 5px;
					max-height: 160px;
				}
			}
			ul,
			li {
				line-height: 2.5em;
				font-size: 0.95em;
				height: auto;
			}
		}
	}
}

.breadcrumbs {
	color: #6e6e6e;
	margin-top: 20px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 22em;
	a {
		color: #6e6e6e;
	}
	p {
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/*all pages///////////////////////////////////////////////////////////////*/

.quote {
	background-color: $quotecolor;
	text-align: center;
	font-size: 1.6em;
	font-weight: 300;
	#quote {
		color: $green;
		height: 10em;
		width: 100%;
		margin-top: 2em;
		p {
			font-size: 2em;
			font-weight: 550;
		}
	}
}

.btn {
	background-color: $green;
	color: white;
	border: 0px;
	border-radius: 5px;
	min-width: 14em;
	min-height: 2.5em;
	font-size: 0.8em;
	transition-property: background-color;
	transition-duration: 600ms;
	margin-top: 0.7em;
	margin-bottom: 3em;
}

.btn:hover,
#gform_submit_button_1:hover {
	background-color: #bdc8b5;
}

.site-header__logo {
	display: none;
}
