
.footer-section {
	background-color: $footerbg;
	color: white;
	width: 100%;
	text-align: right;
	align-content: right;
	height: 15em;
}

.p-2 {
	line-height: 2em;
	height: 10em;
	text-align: left;
	margin-right: 0.5em;
	margin-left: 0.5em;
	color: white;
	font-size: 1.2em;
	margin-top: 1.2em;
	h2 {
		font-family: $font-bold;
	}
}

#arrow {
	width: auto;
	height: 30px;
	width: auto;
	transition-property: filter margin-bottom;
	margin-bottom: 0px;
	filter: invert(100%);
	transition-duration: 600ms;
}

#arrow:hover {
	filter: invert(10%);
	margin-bottom: 30px;
}
