
#navitem {
	z-index: 20000;
}

.header-slideshow {
	position: absolute;
	padding: 0;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
	opacity: 100%;
	z-index: -1;




	.slide-image {
			min-width: 100%;
			max-height: 95%;
			z-index: -1;
			position: relative;
			animation-delay: 300ms;
			animation-name: zooming;
			animation-duration: 7000ms;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-fill-mode: backwards;
	}
}

@keyframes zooming {
	0% {
			transform: scale(1.05);

	}
	100% {
		transform: scale(1.08);
}
}

.header-divider {
	background: url(./assets/images/header-line.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 50px;
	display: block;
	z-index: 999999;
	bottom: -160px;
}


.container-header {
	height: 400px;
	width: 100%;
	position: relative;
	z-index: -1;
}
    .header {
				height: 400px;
				width: 100%;
				margin: auto;
				z-index: -1;
				position: relative;
	}

#headertext {
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
	color: white;
	font-size: 2.5em;
	text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.title {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
font-size: 2.5em;
position: relative;
}

a {
	color: white;
	transition-property: color;
	transition-duration: 600ms;
}

a:hover {
	text-decoration: none;
	color: #898A89
}




// Ola!
.site-header {
	position: fixed;
	background-color: rgba(76, 76, 76, 0.5);
	@include media-breakpoint-up(sm) {
	backdrop-filter: blur(1px);
}
	height: fit-content;
	width: 100%;
	left: 0;
	z-index: 99999999;
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	&__top {
		display: flex;
		flex: 0 0 50%;


		@include media-breakpoint-down(md) {
			flex: 1 1 100%;
		}
	}

	&__main {
		display: flex;
		flex: 0 0 100%;
		text-align: center;
		justify-content: center;
		margin: auto;
		position: static;
		height: auto;
		width: 100%;

		@include media-breakpoint-down(md) {
			width: 100%;
			height: fit-content;
			position: absolute;
			background-color: rgba(142, 163, 130, 0.9);
			// display: none;
			flex: 1 1 50%;
			transition: all 0.5s ease-out;
			transform: translateY(-100%);
		}


	}

	// Controls
	&__controls {
		display: none;

		@include media-breakpoint-down(md) {
			display: flex;
			justify-content: flex-end;
			flex: 1 1 100%;
		}
	}

	// Listing
	ul {
		display: flex;
		flex-flow: row wrap;
		// List reset
		margin: 0;
		padding: 0;
		list-style: none;
			li {
				@include media-breakpoint-up(sm) {
					margin-right: 30px;
					margin-left: 30px;
				}

		font-size: 1.15em;
			}

			@include media-breakpoint-down(md) {
			display: block;
		}

		li {
			text-align: center;
			margin-top: 4px;
			margin-bottom: 4px;
			margin-right: 0px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
