/*Main styles voor PI. */

/*Tools /////////////////////////////////////////////////////////////////////////*/
@import '0-tools/bootstrap';
@import '0-tools/slick';
@import '0-tools/variables';
@import '0-tools/hamburgers';
/*Content /////////////////////////////////////////////////////////////////////////*/
@import '1-content/content';
/*import '1-content/contact';*/
@import '1-content/header';
@import '1-content/footer';
/*Responsive /////////////////////////////////////////////////////////////////////////*/
@import '2-responsive/header';
@import '2-responsive/contact';
@import '2-responsive/content';
@import '2-responsive/front-page';
@import '2-responsive/footer';
/*Components /////////////////////////////////////////////////////////////////////////*/
@import '3-components/forms/gravity-forms';
/*fonts /////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');






#page, #primary {
    width: 100%;
    padding: 0;
}

h2 {
	font-weight: 600;
}

html, body {
	height: 100%;
}

html, body {
  scroll-behavior: smooth;
}

html, body, p {
	font-family: $font;
	overflow-x: hidden;

}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
		margin-left: auto;
}

.row {
    min-width: 100%;
}


.site-info {
	display: none;
}


