@include media-breakpoint-down(md) {
	.quote {
			height: auto;

		#quote {
			h2, p {
				font-size: 30px;
				margin-top: 0.5em;
			}
			top: -30px;
	 }
	 	#buttonbox {
			 top: -40px;
			.btn {
				height: auto;
				position: relative;
			}
		 }

	}
	.points {
		margin-top: 0px;
		height: 100%;
}

.content_text_section {
	margin: 0;
		.page-content-text {
			p {
				font-size: 1.15em;
			}
			ul, li {
				font-size: 17px !important;
			}
		}
		.content-text-container {
				.page-content-links {
					ul, li {
						font-size: 15px;
					}
				}
			margin: 0;
		}
}
.breadcrumbs {
	margin: 0;
	margin-left: 5px;
	margin-top: 25px;
	max-width: 90%;
	text-overflow: clip;
}

.page-content-text {
		td {
			display: inline-block;
			align-content: center;
		}
			tbody, table, td {
				outline: none;
				border: 0px;
				max-width: 90%;

					img {
						max-width: 120px;
						margin-right: 5px;
						max-height: 180px;
					}
			}
			@media only screen and (max-width: 400px) {
				td, p {
				font-size: 0.5em;
				}
}
}
}
@media only screen and (min-width: 601px) and (max-width: 720px) {
					.points {
						margin-top: 0;
					}
}
