
@include media-breakpoint-down(md) {

	.footer-section {
			.footer_container {
				height: auto;
			}
		height: auto;
		width: auto;
		font-size: 0.75em;
	}
		.p-2 {
			margin-top: 3em;
			height: auto;
		}


}
