
@include media-breakpoint-down(md) {

		.points {
			top: -125px;
				.content_points {
					font-size: 1.1em;
					margin-top: 10px;
					margin-bottom: 10px;
				}
		}
		.welcome {
				#welcome {
					margin-top: 20px;
					.welcometext {
						font-size: 1.3em;
					}
				}
		}

}
