
@include media-breakpoint-down(md) {
			.container-header, header {
				max-height: 10em;
				h1, h2 {
					font-size: 0.90em;
					margin-bottom: -25px;

					@media only screen and (max-width: 400px) {
						font-size: 0.7em;
				}
				#headertext {
					height: 1em;
					top: -30px;
				}
			}
			.header-slideshow {
				width: 100%;
				max-height: 200px;
				object-fit: cover;
					.slick-list, .slick-track, .slick-slide {
						max-height: 175px;
						object-fit: cover;
					}
					.slide-image {
						object-fit: cover;
					}
			}
			.header-divider {
				z-index: 99999999;
				bottom: 2px;
			}
			.hamburger:focus {
				outline: none;
			}
			.hamburger {
				font-size: 0.5em;
				z-index: 9999999;
			}
			.site-header__main--active  {
				transform: translateY(38%);
				transition: all 0.5s ease-in-out;
				font-size: 1.35em;
				backdrop-filter: blur(0.5px);
			}


}
}
.header-divider {
	@media screen and (min-width: 601px) and (max-width: 1500px) {
			bottom: -20px;
	}
}
